#questionCard {
  display: none;
}

#scoreCard {
  display: none;
}

#resultCard {
  display: none;
}

#rankingCard {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(240, 113, 206);
}

.choice:hover {
  background-color: rgb(43, 226, 119);
}

.choice {
  height: 20px;
  width: 150px;
}

#container {
  color: white;
  background-color: dodgerblue;
  width: 50%;
}
